{{ attach_library('sdc_styleguide/welcome') }}
<div class="sdc-styleguide-welcome">
  <h1 class="sdc-styleguide-welcome__title">{{ 'Welcome to the SDC Styleguide'|t }}</h1>
  <div class="sdc-styleguide-welcome__logo-wrapper">
    <img src="{{ logo.url }}" alt="{{ logo.alt }}" width="{{ logo.width }}" height="{{ logo.height }}" >
  </div>
</div>
